<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Babylonica&family=Bellefair&family=Dangrek&family=Montserrat:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/about.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/work">WORK</a></li>
          <li><a href="/photos">PHOTO GALLERY</a></li>
        </ul>
      </nav>
    </header>
    <div>
      <div class="article-about-1">
        <h1>Who was Stan Lee</h1>
        <p>
          Stan Lee went on to work for the company that would eventually become
          Marvel Comics. With artist Jack Kirby, Lee launched the superhero team
          the Fantastic Four in 1961 and was soon responsible for creating
          popular characters like Spider-Man, the X-Men, the Hulk and Thor. Lee
          later worked in a number of comic-related business and multimedia
          ventures.
        </p>
      </div>
      <div class="article-about-2">
        <h1>Early life and Career</h1>
        <p>
          Stan Lee was born Stanley Martin Lieber on December 28, 1922, in New
          York City to Romanian immigrants Celia and Jack Lieber. With part of
          his childhood spent during the Great Depression, Lieber and his
          younger brother, Larry, watched his parents struggle to make ends meet
          for the family.
          Lieber, who later shortened his name to "Lee" as a
          writer, went on to be hired as an office assistant at Timely Comics in
          1939 and became an interim editor for the company in the early 1940s.
          Lee also served domestically in the Army during World War II, working
          as a writer and illustrator. 
        </p>
      </div>
    </div>
  </body>
</html>
