<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Babylonica&family=Bellefair&family=Dangrek&family=Montserrat:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/work.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/work">WORK</a></li>
          <li><a href="/photos">PHOTO GALLERY</a></li>
        </ul>
      </nav>
    </header>
    <h1 class="main-work">Main Works</h1>
    <div class="main-div">
      <div class="article-work">
        <img class="spider-man-s"
          src="/images/spider-man-symbol4.jpeg"
          alt="spider-man-symbol"
        />
        <h2>SPIDER-MAN</h2>
        <p>
          Stan Lee and Steve Ditko created a new kind of superhero in 1962 in
          the pages of Amazing Fantasy #15. Unlike the godlike heroes of DC
          Comics and even differentiating him from the more adult-oriented
          heroes of Marvel to that date, Lee and Ditko created a teenage
          superhero. This character wasn't a sidekick like Robin or Bucky
          Barnes. This was a standalone hero who faced not only a growing
          collection of supervillains unique to his world but also the struggles
          of high school life. Peter Parker was not a hero in his secret
          identity, but a high school nerd who never seemed to win in life. It
          gave kids who read comics someone that they could instantly relate to.
        </p>
      </div>
      <div class="article-work">
        <img class="thor-s" src="/images/thor-symbol1.png" alt="thor-symbol" />
        <h2>THOR</h2>
        <p>
          Thor Odinson or simply Thor, is a fictional character appearing in
          American comic books published by Marvel Comics. The character is
          based on the Norse deity of the same name, the Asgardian god of
          thunder whose enchanted hammer Mjolnir enables him to fly and
          manipulate weather, among his other superhuman attributes. A founding
          member of the superhero team the Avengers, Thor has a host of
          supporting characters and enemies.
        </p>
      </div>
      <div class="article-work">
        <img class="iron-man-s" src="/images/iron-man-symbol3.png" alt="iron-man-symbol" />
        <h2>IRON MAN</h2>
        <p>
          Stan Lee and Jack Kirby created Iron Man in 1963 in the pages of Tales
          of Suspense #39. Based on the real-life inventor Howard Hughes, Tony
          Stark was a billionaire industrialist who turned his back on weapons
          manufacturing and sales to become a superhero. Tony Stark was never
          perfect, and that was the Stan Lee touch of making all his heroes
          relatable. He had a damaged heart (literally) and a damaged soul
          (figuratively), kept alive by his own technology but rarely able to
          beat his vices. It was Iron Man that started the MCU, showing his
          importance to Marvel.
        </p>
      </div>
      <div class="article-work">
        <img class="strange-s"
          src="/images/strange-symbol.pbg.jpg"
          alt="dr-strange-symbol"
        />
        <h2>Doctor Strange</h2>
        <p>
          Created by Stan Lee and Steve Ditko, Doctor Strange allowed Marvel
          Comics to bring horror and magic into their universe. Appearing first
          in Strange Tales #110, Stephen Strange was an arrogant surgeon who
          fell into a depression after an accident cost him his hands. However,
          when he met the Ancient One, he gained magical powers instead and
          became a hero. According to Lee, it was Ditko's idea originally, so he
          wrote the story of black magic involving the sorcerer, and the rest is
          history. Through the years, Doctor Strange helped found The Defenders,
          worked with The Avengers and became one of Marvel's most powerful
          heroes.
        </p>
      </div>
    </div>
  </body>
</html>
